node_modules/
dist/

.idea
.vscode

logs
*.log
.DS_Store

pids
*.pid
*.seed

__snapshots__

build/Release
build

git
node_modules
jspm_packages/

.npm
.eslintcache
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.vscode-test