node_modules/
dist/

.idea
.vscode

logs
*.log
.DS_Store

pids
*.pid
*.seed

__snapshots__

build/Release
build

git
node_modules
jspm_packages/

.npm
.eslintcache
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.vscode-test

coverage/
__tests__/coverage/

# Jest cache directory
.cache/

# Jest test result files
*.test-results.xml

# Jest snapshot files (if you're using snapshots)
__snapshots__/

# Jest debug logs
jest-debug.log

# Jest temporary files
*.haste-map.json
*.jest-cache

# Other Jest related files (adjust as needed)
jest.config.js